
@media screen and (min-width: 480px) and (max-width:786px) {
    
    .container {
        width: 430px;
        padding-top: 0;
    }

    .container1 {
        padding-top: 0;
        height: 550px;
    }

    .header {
        display: block;
        height: 105px;
        width: 252px;
        margin-bottom: 28px;
        margin-top: 70px;
    }

    .logo {
        width: 153px;
        height: 40px;
        margin-left: 47px;
        margin-bottom: 26px;
        padding-top: 0;
    }

    .menu {
        display: none;
    }

    .menu_480 {
        display: block;
        position: relative;
    }

    .list_480 {
        /* Style for "Shape 8" */
        width: 244px;
        height: 46px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        border: 1px solid #051116;
        background-color: rgba(54, 41, 62, 0.9);
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
    }

    .list_480:hover {
        width: 244px;
        height: 276px;
    }

    .li_style_menu480 {
        width: 100%;
        height: 46px;
        /*        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);*/
        box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);
    }

    .link_480 {
        color: #ffffff;
        font-family: "LeagueGothic";
        font-size: 24px;
        font-weight: 400;
        line-height: 42px;
        text-transform: uppercase;
        list-style: none;
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 14px
    }

    .li_style_menu480:hover {

        background-color: rgba(54, 41, 62, 0.94);
        border-bottom: 0.2px solid #edbfff;

    }

    .home_link:hover {
        text-decoration-line: underline;
    }

    /*    slider*/
    .slider {
        height: 246px;
        margin-top: 0;
    }

    .slider_text {
        width: 201px;
        height: 51px;
        font-family: "MyriadPro";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        white-space: nowrap;
        margin-right: 16px;
    }

    .lorem {
        font-size: 36px;
    }

    .it_will {
        font-size: 18px;
        overflow: hidden;
    }

    .text_info {
        display: none;
    }

    .iphone4,
    .iphone4_copy {
        display: none;
    }


    .iphone_480 {
        background-image: url(img/Iphone.png);
        width: 192px;
        height: 304px;
        margin-top: -9px;
    }

    .first_floor {
        height: 598px;
    }

    .center_conta1ner {
        width: 429px;
        height: 448px;
        display: block;
    }

    .cont1 {
        height: 127px;
        width: 100%;
        margin-bottom: 19px;
    }

    .about_company {
        height: 18px;
        text-shadow: 1px 1px 0 #0f1518;
        font-size: 24px;
    }

    .text_about_company {
        /* Style for "Nunc turpi" */
        width: 364px;
        height: 65px;
        font-size: 16px;
    }

    .img_company3,
    .img_company2 {
        background-position: 84% 28%;
    }

    .second_floor {
        height: 1024px;
    }

    .second_floor_top {
        height: 790px;
        display: block;
    }

    .second_floor_top_container {
        width: 418px;
        height: 625px;
        margin-top: 70px;
        display: block;
    }

    .pingbuller_and_slider {
        height: 314px;
        width: 416px;
        /*        background-color: aquamarine;*/
    }

    .pingbuller {
        width: 416px;
        height: 274px;
        background-repeat: no-repeat;
        overflow: hidden;
        background-image: url(img/Layer_11_copy_2.png);
        margin-bottom: 24px;
    }

    .pingbuller_texbox {
        overflow: hidden;
    }

    .resent_updates {
        width: 337px;
        margin-top: 51px;
        margin-left: 40px;
    }

    .list_textbox {
        overflow: hidden;
    }

    .o960 {
        display: none;
    }

    .o768 {
        display: block;
    }

    .marks {
        width: 345px;
        height: 154px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .mark {
        min-width: 90px;
        height: 65px;
    }

    .mark5 {
        background-position: 79% 0%;
        width: 105px;
    }

    .resent_updates {
        height: 261px;
        width: 337px;
        margin-top: 32px;
    }

    .second_floor_bottom {
        height: 233px;
    }

    .footer {
        height: 870px;
    }

    .footer_top {
        height: 670px;
        display: block;
    }

    .footer_top_container {
        width: 440px;
        height: 498px;
        display: block;
    }

    .ft_cont {
        height: 125px;
        margin-bottom: 60px;
    }



    .copyright_text,
    .pingbuller_footer,
    .o960 {
        display: none;
    }

    .o768 {
        display: block;
    }

    .ft_cont .pingbuller_texbox {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        overflow: hidden;
        width: 440px;
        height: 89px;
        text-shadow: 1px 1px 0 #ffffff;
    }

    .footer_bottom {
        height: 200px;
    }

    .footer_bottom_container {
        width: 438px;
        height: 71px;
        flex-direction: column;

    }

    .footer_menu {
        /* Style for "Home" */
        width: 435px;
        height: 15px;
        margin-right: 0;
    }

    .footer_author {
        margin-left: 149px;
    }

}

@media screen and (min-width:320px) and (max-width:480px) {
    .container {
        width: 270px;
    }

    .container1 {
        height: 517px;
        padding-top: 70px;

    }

    .header {
        width: 153px;
        height: 105px;
        display: block;
        margin-bottom: 28px;
    }

    .logo {
        width: 153px;
        height: 40px;
        margin-left: 47px;
        margin-left: 0px;
        margin-bottom: 26px;
        padding-top: 0;
    }

    .menu_480 {
        display: block;
        position: relative;
    }

    .list_480 {
        min-width: 52px;
        height: 37px;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
    }

    .li_style_menu480 {
        width: 100%;
        height: 46px;
    }

    .link_480 {
        color: #ffffff;
        font-family: "LeagueGothic";
        font-size: 24px;
        font-weight: 400;
        line-height: 42px;
        text-transform: uppercase;
        list-style: none;
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 14px
    }

    .home_link:hover {
        text-decoration-line: underline;
    }

    .slider {
        background-color: transparent;
        margin-top: 124px;
        text-align: center;
    }

    .iphone4,
    .iphone4_copy,
    .menu,
    .text_info {
        display: none;
    }

    .slider_text {
        /* Base style */
        width: 201px;
        height: 60px;
        padding-top: 5px;
        margin-top: 0;
        overflow: hidden;
        margin-left: 50px;
        /*        background-color: aqua;*/
    }

    .lorem {
        line-height: 24px;
        font-size: 36px;
    }

    .it_will {
        line-height: 24px;
        font-size: 18px;

    }

    .first_floor {
        height: 598px;
    }

    .center_conta1ner {
        width: 270px;
        height: 460px;
        display: block;
    }

    .cont1 {
        height: 127px;
        width: 100%;
        margin-bottom: 29px;
    }

    .header_about {
        margin-bottom: 0;
    }

    .about_company {
        height: 18px;
        text-shadow: 1px 1px 0 #0f1518;
        font-size: 24px;
    }

    .text_about_company {
        font-size: 16px;
        width: 193px;
        height: 65px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 12px;
        overflow: hidden;
    }

    .img_company3,
    .img_company2 {
        background-position: 84% 28%;
    }

    .second_floor {
        height: 1206px;
    }

    .second_floor_top {
        height: 794px;
        display: block;
    }

    .second_floor_top_container {
        width: 281px;
        height: 625px;
        display: block;
    }

    .o960 {
        display: none;
    }

    .o768 {
        display: block;
    }

    .marks {
        width: 237px;
        height: 294px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .mark {
        min-width: 90px;
        height: 65px;
    }

    .mark5 {
        background-position: 79% 0%;
        width: 105px;
    }

    .resent_updates {
        height: 261px;
        width: 278px;
        margin-top: 32px;
    }

    .second_floor_bottom {
        height: 420px;
        background-color: aqua;
    }
}
